# Configure a default setup of Home Assistant (frontend, api, etc)
default_config:

homeassistant:
  name: !secret homeassistant_name
  latitude: !secret zones_home_latitude
  longitude: !secret zones_home_longitude
  elevation: !secret zones_home_elevation
  unit_system: imperial
  currency: USD
  time_zone: "America/New_York"
  # external_url: !secret external_url
  # internal_url: !secret internal_url
  packages: !include_dir_named packages
  legacy_templates: false

tts:
  - platform: google_translate

group: !include groups.yaml
automation: !include automations.yaml
script: !include scripts.yaml
scene: !include scenes.yaml
zone: !include zones.yaml
cloud:
lovelace:
  mode: yaml
  resources:
    - url: /local/frigate-hass-card.js
      type: module
notify: !include notify.yaml

mqtt:
  broker: {{ mqtt_host }}

frigate:
  url: http://{{ frigate_host }}:5000
