homeassistant_name: {{ homeassistant_name }}
zones_home_latitude: {{ zones_home_latitude }}
zones_home_longitude: {{ zones_home_longitude }}
zones_home_elevation: {{ zones_home_elevation }}
external_url: {{ external_url }}
internal_url: {{ internal_url }}
